* {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

body {
}

h1 {
    font-size: 1em;
    background: black;
    color: white;
    padding: 15px;
    margin: 15px;
}

    h1 .version {
        font-style: italic;
    }



#myMap {
    border: 10px solid white;
    margin: 15px;
    height: 300px;
}

.map {
    width: 600px;
    height: 320px;
    margin: 0 0 1em 0;
}
